body{
    background-color:rgb(250, 207, 231);
}
.tm-header{
    background: rgb(255, 255, 255);
    height: 80px;
    position: relative;
}
.header-row{
    padding-top: 3vh;;
}
.col1{
    border:2px black solid;
}
.col2{
    text-align: right;
    border:2px black solid;
}