body{
    background-color:rgb(250, 207, 231);
}
/* Header*/
.tm-header{
    background: rgb(237, 200, 200);
    height: 80px;
    position: relative;
    box-shadow: 0px 0px 50px 50px rgb(237, 200, 200);
}
.header-row{
    padding-top: 2vh;;
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    color: #f70577;
}
.col2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    
}
.objeto{
    color: #f70577;
}

/*Banner*/

.tm-banner{
    margin-top: 5vh;
    z-index: 100;
}
.tm-banner-inner { height: 400px;    }
    .tm-banner-title { font-size: 40px;    }
    .tm-banner-subtitle { font-size: 24px; }
    .tm-banner-inner { top: 0; }
    .tm-banner-link {
        padding: 12px 30px;
        margin-top: 10px;
    }