body{
    background-color:rgb(255, 238, 247);
}
/* Header*/
.tm-header{
    background: rgb(237, 200, 200);
    height: 80px;
    position: relative;
    box-shadow: 0px 0px 50px 50px rgb(237, 200, 200);
}
.header-row{
    
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    color: #f70577;
}
.col2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    
}
.objeto{
    color: #f70577;
}

/*Banner*/
.card{
    display:flex;

    background-color: rgb(253, 232, 232);
    border: 1px rgb(181, 181, 181) solid;
}
h5{
    background-color: rgb(253, 232, 232);
    color:#f70577;
    box-shadow:0px 0px 10px 10px rgb(253, 232, 232) ;
    font-size: 3.5vh;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f70577' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f70577' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*busqueda*/
.tm-home-section-1{
    padding-top: 2vh;
    height:25vh;
}
.input-group{
    background-color: rgb(253, 232, 232);
}
.form-control{
    background: rgb(237, 200, 200);
}
.columna-medio{
    border: 1px rgb(181, 181, 181) solid;
    padding-bottom: 1vh;
    border-radius: 1vh;
    background-color: rgb(253, 232, 232);
}
